<section id="papers">

	<div class="content-header text-center">
		<br/><br/>
		<h2>Recent Publications</h2>
	</div>

	<!-- Latest 3 papers should be previewed -->
	{% assign papers = site.categories.publication | sort: 'date' | reverse %}
	{% for paper in papers limit:3 %}
		{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
	    {% if thecycle == 'even' %}

			<div class="content-section-c">

		        <div class="container">

		            <div class="row">
		                <div class="col-lg-5 col-sm-6">
		                    <h3 class="section-heading">
		                    	<a href="{{ paper.url }}">{{ paper.title }}</a>
		                    </h3>
		                    <div class="lead">
		                    	{{ paper.authors }}<br/>
		                    	<a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a>
		                    </div>
		                </div>
		                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
		                  <img class="img-responsive" src="assets/images/papers/{{ paper.img }}" alt="">
		                </div>
		            </div>

		        </div>
		        <!-- /.container -->

		    </div>

		{% else %}

		    <div class="content-section-d">

		        <div class="container">

		            <div class="row">
		                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
		                    <h3 class="section-heading">
		                    	<a href="{{ paper.url }}">{{ paper.title }}</a>
		                    </h3>
		                    <div class="lead">
		                    	{{ paper.authors }}<br/>
		                    	<a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a>
		                    </div>
		                </div>
		                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
		                	<img class="img-responsive" src="assets/images/papers/{{ paper.img }}" alt="">
		                </div>
		            </div>

		        </div>
		        <!-- /.container -->

		    </div>
		    <!-- /.content-section-b -->
    {% endif %}

	{% endfor %}

	<!-- Older papers are just listed -->

	{% if papers.size > 3 %}

		<div class="content-header text-center">
			<h2>Older Publications</h2>
		</div>

		<div class="content-section-d">
			{% for paper in papers offset:3 %}
				<div class="container">


		            <div class="row">
		                    <div class="lead">
		                    	<a href={{ site.baseurl }}{{ paper.url }}> {{ paper.title }} </a>
		                    	({{ paper.date | date_to_long_string }})
		                    </div>
		            </div>
		        </div>

			{% endfor %}
		</div>
	{% endif %}
</section>