<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include navbar_page.html %}

		<section id="content">

			<div class="page-header">
				<div class="container">
					<div class="row">
		                <div class="col-lg-5 col-sm-6">
	                    	<h2 class="section-heading">{{ page.title }}</h2>
		                    <div class="lead">{{ page.description }}</div>
		                </div>
		                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
		                	<img class="img-responsive" src="{{ site.baseurl }}/assets/images/posts/{{ page.img }}" alt="">
		                </div>
		            </div>
				</div>
				<!-- End paper banner-->

				<div class="container">
					{{ page.content }}
				</div>
			</div>
		</section>

		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
